:root {
  --cas-yellow-900: #e59d12;
  --cas-yellow-700: #f6a913;
  --cas-yellow-500: #f7b636;
  --cas-yellow-300: #f8c154;
  --cas-positive-900: #219653;
  --cas-positive-700: #62b862;
  --cas-positive-500: #72bf72;
  --cas-positive-300: #88c988;
  --cas-negative: #e64b41;
  --cas-dark: #181818;
  --cas-dark-900: rgba(18, 18, 18, 0.92);
  --cas-dark-700: rgba(18, 18, 18, 0.7);
  --cas-dark-500: rgba(18, 18, 18, 0.54);
  --cas-dark-300: rgba(18, 18, 18, 0.25);
  --cas-dark-200: rgba(18, 18, 18, 0.15);
  --cas-dark-100: rgba(18, 18, 18, 0.07);
  --cas-dark-50: rgba(18, 18, 18, 0.04);
  --cas-light: #fff;
  --cas-light-900: rgba(255, 255, 255, 0.9);
  --cas-light-700: rgba(255, 255, 255, 0.7);
  --cas-light-500: rgba(255, 255, 255, 0.47);
  --cas-light-300: rgba(255, 255, 255, 0.28);
  --cas-light-200: rgba(255, 255, 255, 0.14);
  --cas-light-100: rgba(255, 255, 255, 0.07);
  --cas-light-50: rgba(255, 255, 255, 0.04);
  --radius-5: 5px;
  --radius-10: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

.text-primary-900 {
  color: var(--primary-900) !important;
}

.bg-primary-900 {
  background-color: var(--primary-900) !important;
}

.text-primary-700 {
  color: var(--primary-700) !important;
}

.bg-primary-700 {
  background-color: var(--primary-700) !important;
}

.text-primary-500 {
  color: var(--primary-500) !important;
}

.bg-primary-500 {
  background-color: var(--primary-500) !important;
}

.text-primary-300 {
  color: var(--primary-300) !important;
}

.bg-primary-300 {
  background-color: var(--primary-300) !important;
}

.text-primary {
  color: var(--primary-text) !important;
}

.text-gray-night-900 {
  color: rgba(255, 255, 255, 0.9) !important;
}

.bg-gray-night-900 {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.text-gray-night-700 {
  color: rgba(255, 255, 255, 0.7) !important;
}

.bg-gray-night-700 {
  background-color: rgba(255, 255, 255, 0.7) !important;
}

.text-gray-night-500 {
  color: rgba(255, 255, 255, 0.47) !important;
}

.bg-gray-night-500 {
  background-color: rgba(255, 255, 255, 0.47) !important;
}

.text-gray-night-300 {
  color: rgba(255, 255, 255, 0.28) !important;
}

.bg-gray-night-300 {
  background-color: rgba(255, 255, 255, 0.28) !important;
}

.text-gray-night-200 {
  color: rgba(255, 255, 255, 0.14) !important;
}

.bg-gray-night-200 {
  background-color: rgba(255, 255, 255, 0.14) !important;
}

.text-gray-night-100 {
  color: rgba(255, 255, 255, 0.07) !important;
}

.bg-gray-night-100 {
  background-color: rgba(255, 255, 255, 0.07) !important;
}

.text-gray-night-50 {
  color: rgba(255, 255, 255, 0.05) !important;
}

.bg-gray-night-50 {
  background-color: rgba(255, 255, 255, 0.05) !important;
}

.text-green-900 {
  color: #219653 !important;
}

.bg-green-900 {
  background-color: #219653 !important;
}

.text-green-700 {
  color: #62B862 !important;
}

.bg-green-700 {
  background-color: #62B862 !important;
}

.text-green-500 {
  color: #72BF72 !important;
}

.bg-green-500 {
  background-color: #72BF72 !important;
}

.text-green-300 {
  color: #88C988 !important;
}

.bg-green-300 {
  background-color: #88C988 !important;
}